/* Portlet */
.collectiveSearchEventPortlet .option {
    display: block;
}
.collectiveSearchEventPortlet .label {
    font-weight: normal;
}
.collectiveSearchEventPortlet .field input[type="text"] {
    width: 100%;
}
